.mission  {
    margin-bottom: 130px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include max($md) {
            flex-direction: column;
        }
    }
    &__info {
        max-width: 501px; 
        width: 100%;
        margin-right: 50px;
        @include max($xl) {
            max-width: 420px; 
        }
        @include max($lg) {
            max-width: 300px; 
        }
        @include max($md) {
            margin-bottom: 15px;
            margin-right: 0;
            max-width: 100%;
        }
    }
    &__blockquote {
        position: relative;
        padding-top: 40px;
        font-style: italic;
        font-size: 24px;
        color: $grey;
        @include lineClamp;
        -webkit-line-clamp: 6;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            @include bg;
            width: 32px;
            height: 27px;
            background-image: url(../images/mission.svg);
        }
        @include max($xl) {
            padding-top: 15px;
            font-size: 20px;
        }
        @include max($md) {
            padding-top: 5px;
        }
    }
    &__photos {
        position: relative;
        max-width: 605px;
        width: 100%;
        height: 425px;
        @include bg;
        &::after,
        &::before {
            width: 94px;
            height: 112px;
            position: absolute;
            @include bg;
            content: '';
            background-image: url(../images/decor-about.svg);
            z-index: -1;
            @include max($xl) {
                display: none;
            }
        }
        &::after {
            top: -30px;
            left: -30px;
        }
        &::before {
            bottom: -30px;
            right: -30px;
        }
        @include max($xl) {
            height: 380px;
        }
        @include max($lg) {
            height: 300px;
        }
        @include max($md) {
            height: 270px;
        }
        @include max($sm) {
            height: 200px;
        }
    }
    &__images {
        position: absolute;
        bottom: -30px;
        left: -30px;
        max-width: 202px;
        width: 100%;
        height: 280px;
        @include bg;
        @include max($lg) {
            bottom: -20px;
            left: -20px;
            max-width: 132px;
            height: 180px;
        }
        @include max($md) {
            bottom: -10px;
            left: -10px;
        }
        @include max($s) {
            display: none;
        }
    }
    @include max($xl) {
        margin-bottom: 50px;
    }
}