.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-family: $SFProText;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    color: $black;
    display: flex;
    flex-direction: column;
    @include max($lg) {
        line-height: 1.5;
        font-size: 16px;
    }
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    font-family: $SFProDisplay;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    background-color: $main;
    padding: 12px 37px;
    line-height: 1;
    outline: transparent;
    @include lineClamp;
    -webkit-line-clamp: 1;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    &:hover {
        background-color: $light-blue;
        color: $grey;
    }
    &:focus {
        background-color: $grey;
        color: $light-blue;
    }
    &:active {
        background-color: transparent;
        color: $main;
    }
}

.price {
    display: flex;
    line-height: 1;
    &__actual {
        font-weight: 600;
        font-size: 24px;
        margin-right: 12px;
    }
    &__old {
        font-weight: 300;
        font-size: 22px;
        text-decoration-line: line-through;
        color: #A4A4A4;
    }
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.4;
    @include lineClamp;
    -webkit-line-clamp: 1;
    color: #000;

}


input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.about-subtitle {
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    color: $main;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 16px;
    font-family: $SFProDisplay;
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $main;
    }
}


// @include lineClamp;
// -webkit-line-clamp: 1;

// .menu--active::-webkit-scrollbar {
//     width: 15px;
// }

// .menu--active::-webkit-scrollbar-track {
//     background-color: #32436E;
// }

// .menu--active::-webkit-scrollbar-thumb {
//     border-radius: 15px;
//     background-color: #3A813F;
//     cursor: pointer;
// }

// <svg class="menu__icon" aria-label="Выподащий список">
//     <use xlink:href="images/sprite.svg#arrow-down"></use>
// </svg>