
$bg-color: #fcefe4;
$link-bc: #d7537a;
$pink: #eb8671;
$global: #272626;

$xl: 1200;
$lg: 990;
$md: 720;
$sm: 540;
$s: 400;

$SourceSansPro: 'SourceSansPro', sans-serif;
$Montserrat: 'Montserrat', sans-serif;



