
$black: #161c24;
$grey: #454f5b;
$light-grey: #C4CDD5;
$light-blue: #add7ff;
$main: #4295e4;
$bg-light: #f2f8ff;
$rad: #E44286;



$xl: 1200;
$lg: 990;
$md: 720;
$sm: 540;
$s: 400;

$SFProDisplay: 'SFProDisplay', sans-serif;
$SFProText: 'SFProText', sans-serif;



