.services {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 33px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__items{
        max-width: 31%;
        width: 100%;
        position: relative;
        text-align: center;
        padding: 140px 20px 20px;
        font-size: 20px;
        color: $grey;
        box-shadow: inset -1px 0px 0px #C4CDD5, inset 1px 0px 0px #C4CDD5;
        &::after {
            position: absolute;
            content: '';
            @include bg;
            left: 50%;
            transform: translateX(-50%);
            top: 24px;
            width: 82px;
            height: 82px;
        }
    }
    &__items--bestowal {
        &::after {
            background-image: url(../images/bestowal.svg);
        }
    }
    &__items--logo {
        &::after {
            background-image: url(../images/statistics-logo.svg);
        }
    }
}