.header {
    box-shadow: inset 0px -1px 0px #C4CDD5;
    background-color: #fff;
    &--active {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
    }
    &__top {
        background-color: $grey;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 12%;
        font-family: $SFProDisplay;
        &--hidden {
            display: none;
        }
    }
    &__top-inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 5px 0;
        @include max($lg) {
            justify-content: space-between;
        }
    }
    &__text {
        margin-right: 200px;
        @include lineClamp;
        -webkit-line-clamp: 1;
        @include max($lg) {
            margin-right: 0;
        }
        @include max($md) {
            font-size: 13px;
        }
        @include max($sm) {
            display: none;
        }
    }
    &__link {
        padding-bottom: 0 2px 2px;
        position: relative;
        outline: transparent;
        transition: color 0.3s ease-in;
        @include lineClamp;
        -webkit-line-clamp: 1;
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1px;
            background-color: #fff;
            transition: width 0.3s ease-in;
        }
        &:hover::after {
            width: 100%;
        }
        &:focus {
            color: $light-grey;
        }
        &:active {
            color: $main;
            &::after {
                background-color: $main;
            }
        }
    }
    &__bottom-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        @include max($lg) {
            padding: 7px 0;
        }
    }
    &__tel {
        display: flex;
        align-items: center;
        outline: transparent;
        margin-right: 35px;
        &:hover .header__tel-text{
            color: $main;
        }
        &:active .header__tel-text{
            color: $grey;
        }
        &:focus .header__tel-text{
            color: $rad;
        }
        @include max($lg) {
            margin-bottom: 7px;
            margin-right: 10px;
        }
        @include max($md) {
            margin-left: auto;
        }
    }
    &__tel-icon {
        width: 19px;
        height: 19px;
        fill: $main;
        margin-right: 7px;
        @include max($lg) {
            margin-right: 0;
        }
    }
    &__tel-text {
        font-size: 18px;
        color: $grey;
        font-family: $SFProDisplay;
        transition: color 0.3s ease-in;
        @include lineClamp;
        -webkit-line-clamp: 1;
        @include max($lg) {
            display: none;
        }
    }
    &__heart-icon {
        width: 23px;
        height: 21px;
    }
    &__corb-icon {
        width: 32px;
        height: 32px;
    }
    &__icon {
        fill: none;
        stroke: $grey;
        stroke-width: 2px;
        transition: stroke 0.3s ease-in;
    }
    &__heart {
        margin-right: 34px;
        @include max($lg) {
            margin-right: 10px;
        }
    }
    &__corb {
        @include max($md) {
            margin-right: 10px;
        }
    }
    &__corb,
    &__heart {
        outline: transparent;
        &:hover .header__icon{
            stroke: $main;
        }
        &:active .header__icon{
            stroke: $black;
        }
        &:focus .header__icon{
            stroke: $rad;
        }
    }
    &__burger {
        height: 27px;
        width: 35px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 2px;
        flex-direction: column;
        justify-content: space-between;
        outline: transparent;
        display: none;
        position: relative;
        z-index: 555;
        &:hover .header__burger-item{
            background-color: rgba($main, 0.7);
        }
        &:focus .header__burger-item{
            background-color: $grey;
        }
        @include max($md) {
            display: flex;
        }
    }
    &__burger-item {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $main;
        transition: transform 0.3s ease-in,  background-color 0.3s ease-in;
        &--active {
            position: absolute;
            top: 13px;
            transition: transform 0.3s ease-in;
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

.logo {
    outline: transparent;
    &__images {
        width: 51px;
        height: 42px;
    }
}

.menu {
    margin: 0 auto;
    &__list {
        display: flex;
        align-items: center;
        @include max($md) {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 30px;
            @include max($md) {
                margin-right: 0;
            }
        }
    }
    &__item--catalog {
        position: relative;
        &:hover .menu__holder{
            transform: scale(1);
        }
        &:hover .menu__icon {
            transform: rotate(180deg);
        }
    }
    &__link {
        outline: transparent;
        display: block;
        font-weight: 300;
        font-size: 20px;
        transition: color 0.3s ease-in;
        @include lineClamp;
        -webkit-line-clamp: 1;
        &:hover {
            color: $main;
        }
        &:hover .menu__icon{
            stroke: $main;
        }
        &:active {
            color: $grey;
        }
        &:active .menu__icon{
            stroke: $grey;
        }
        &:focus {
            color: $rad;
        }
        &:focus .menu__icon{
            stroke: $rad;
        }
        @include max($md) {
            color: #fff;
        }  
    }
    &__head {
        display: flex;
        align-items: center;
    }
    &__icon {
        width: 12px;
        height: 7px;
        stroke-linecap: round;
        fill: none;
        stroke: $black;
        margin-left: 10px;
        transition: stroke 0.3s ease-in, transform 0.3s ease-in;
        @include max($md) {
            stroke: #fff;
        }    
    }
    &__holder {
        position: absolute;
        padding: 32px;
        z-index: 100;
        left: 0;
        top: 30px;
        width: 730px;
        background-color: #fff;
        box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: scale(0);
        transform-origin: top left;
        transition: transform 0.5s ease-in-out;
        @include max($lg) {
            left: -115px;
            padding: 20px;
            width: 555px;
        }
        @include max($md) {
            max-width: 300px;
            left: -102%;
            transform: scaleY(0);
            transform-origin: top;
        }
    }
    &__dropdown {
        max-width: 345px;
        width: 100%;
        margin-right: 7px;
        @include max($md) {
            max-width: 300px;
            margin-right: 0;
        }
    }
    &__dropdown-item {
        &:not(:last-child) {
            margin-bottom: 20px;
            @include max($lg) {
                margin-bottom: 7px;
            }
        }
    }
    &__dropdown-link {
        font-size: 16px;
        color: $grey;
        outline: transparent;
        padding-bottom: 4px;
        position: relative;
        transition: color 0.3s ease-in-out;
        @include lineClamp;
        -webkit-line-clamp: 1;
        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 0%;
            height: 1px;
            transition: width 0.3s ease-in-out;
            background-color: $main;
        }
        &:hover::after {
            width: 100%;
        }
        &:hover {
            color: $black;
        }
    }
    &__images {
        background-color: #fafafa;
        max-width: 288px;
        width: 100%;
        height: 300px;
        display: flex;
        @include max($lg) {
            height: 250px;
            max-width: 238px;
        }
        @include max($md) {
            display: none;
        }
    }
    &__photo {
        object-fit: cover;
        width: 100%;
        margin: auto;
    }

    @include max($md) {
        position: absolute;
        height: 100vh;
        z-index: 55;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(#000, 0.9);
        transform: translateY(-110%);
        transition: transform 0.3s ease-in;
    }
    &--active {
        transform: translateY(0);
        transition: transform 0.3s ease-in;
    }
}

