.products {
    margin-bottom: 95px;
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 55px;
        @include max($xl) {
            margin-bottom: 25px;
        }   
        
    }
    &__title {
        text-align: left;
        @include max($md) {
            margin-right: 15px;
        }
        @include max($sm) {
            font-size: 22px;
        }
    }
    &__arrows {
        display: flex;
        align-items: center;
    }
    &__btn {
        padding: 0;
        background-color: transparent;
        border: none;
        outline: transparent;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 50px;
            @include max($md) {
                margin-right: 15px;
            }
        }
        &:hover .products__arrow{
            stroke: $main;
        }
        &:focus .products__arrow{
            stroke: $rad;
        }
        &.slick-disabled .products__arrow {
            stroke: $light-blue;
        }
    }
    &__arrow {
        fill: none;
        stroke: $black;
        stroke-width: 3px;
        width: 15px;
        height: 27px;
        transition: stroke 0.3s ease-in;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        @include max($xl) {
            max-width: 890px;
        } 
        @include max($lg) {
            max-width: 590px;
        } 
        @include max($md) {
            max-width: 288px;
        } 
    }
    @include max($xl) {
        margin-bottom: 35px;
    }    
}