<section class="details">
    <div class="container">
        <h2 class="visually-hidden">Детальное описание товара</h2>
        <ul class="details__list">
            <li class="details__item">
                <div class="details__info">
                    <h3 class="details__title">
                        Eget quis quam metus, scelerisque.
                    </h3>
                    <div class="details__text">
                        <p>
                            Odio felis sit leo, massa, mauris, at pulvinar ultrices. Eu porttitor molestie massa porttitor. Quisque at turpis ut proin eu et magna etiam rhoncus.
                        </p>
                        <p>
                            Odio felis sit leo, massa, mauris, at pulvinar ultrices. Eu porttitor molestie massa porttitor. Quisque at turpis ut proin eu et magna etiam rhoncus.
                            Odio felis sit leo, massa, mauris, at pulvinar ultrices. Eu porttitor molestie massa porttitor. Quisque at turpis ut proin eu et magna etiam rhoncus.
                        </p>
                    </div>
                </div>
                <div class="details__images" style="background-image: url(../images/details-images-1.jpg);"></div>
            </li>
            <li class="details__item">
                <div class="details__info">
                    <h3 class="details__title">
                        Eget quis quam metus, scelerisque.
                    </h3>
                    <div class="details__text">
                        <p>
                            Odio felis sit leo, massa, mauris, at pulvinar ultrices. Eu porttitor molestie massa porttitor. Quisque at turpis ut proin eu et magna etiam rhoncus.
                        </p>
                        <p>
                            Odio felis sit leo, massa, mauris, at pulvinar ultrices. Eu porttitor molestie massa porttitor. Quisque at turpis ut proin eu et magna etiam rhoncus.
                            Odio felis sit leo, massa, mauris, at pulvinar ultrices. Eu porttitor molestie massa porttitor. Quisque at turpis ut proin eu et magna etiam rhoncus.
                        </p>
                    </div>
                </div>
                <div class="details__images" style="background-image: url(../images/details-images-2.jpg);"></div>
            </li>
        </ul>
    </div>
</section>