<section class="feedback">
    <div class="container">
        <h2 class="title feedback__title">Мы Вам перезвоним</h2>
        <div class="feedback__text">
            <p>
                Если у вас возникли какие-то вопросы или проблемы, заполните форму и мы Вам перезвоним.
            </p>
        </div>
        <form class="feedback__form">
            <label class="visually-hidden" for="name">Текстовое поле, для ввода имени</label>
            <input class="feedback__input" type="text" placeholder="Ваше имя" name="имя" id="name" required>
            <label class="visually-hidden" for="email">Текстовое поле, для ввода почты</label>
            <input class="feedback__input" type="email" placeholder="Ваш Email" name="почта" id="email" required>
            <button class="feedback__btn link" type="submit">Отправить</button>
        </form>
    </div>
</section>