<footer class="footer">
    <h2 class="visually-hidden">Подвал сайта, с основными контактами</h2>
    <div class="container">
        <div class="footer__top">
            <div class="footer__holder">
                <a class="logo footer__logo" href="#">
                    <img class="logo__images" src="images/logo.svg" alt="логотип">
                </a>
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#">
                            <svg class="social__icon social__icon--vk" aria-label="иконка vk">
                                <use xlink:href="images/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#">
                            <svg class="social__icon social__icon--twitter" aria-label="иконка twitter">
                                <use xlink:href="images/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#">
                            <svg class="social__icon social__icon--facebook" aria-label="иконка facebook">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="footer__list">
                <li class="footer__items">
                    <h3 class="footer__subtitle">Навигация</h3>
                    <a class="footer__link" href="#">Главная</a>
                    <a class="footer__link" href="#">Каталог</a>
                    <a class="footer__link" href="#">Оптовая продажа</a>
                    <a class="footer__link" href="#">О нас</a>
                </li>
                <li class="footer__items">
                    <h3 class="footer__subtitle">Наши контакты</h3>
                    <span class="footer__phone">Телефоны</span>
                    <a class="footer__link" href="tel:+79885650038">+7 (988) 565 00 38</a>
                    <a class="footer__link" href="tel:+375336628256">+375 33 662 82 56</a>
                    <span class="footer__email">Email</span>
                    <a class="footer__link" href="mailto:vladpertcev@mail.ru">vladpertcev@mail.ru</a>
                    <a class="footer__link" href="mailto:korobko416@gmail.com">korobko416@gmail.com</a>
                </li>
                <li class="footer__items">
                    <h3 class="footer__subtitle">Наш адрес</h3>
                    <a class="footer__link" href="#">Россия, Ростов-на-Дону ул. Богачева, 16</a>
                </li>
                <li class="footer__items">
                    <h3 class="footer__subtitle">Информация</h3>
                    <a class="footer__link" href="#">Доставка и оплата</a>
                    <a class="footer__link" href="#">Гарантии</a>
                    <a class="footer__link" href="#">Возврат товара</a>
                </li>
            </ul>

        </div>
        <div class="footer__bottom">
            &copy; 2021 Golden Soft All rights reserved.
        </div>
    </div>
</footer>