<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <div class="menu__head">
                            Цветы
                            <div class="menu__plus" aria-label="Выподающий список"></div>
                        </div>
                        <ul class="menu__holder">
                            <li class="menu__items">
                                <a class="menu__link" href="catalog.html">Ромашки для Наташки</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="catalog.html">Ромашки для Наташки</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="catalog.html">Ромашки для Наташки</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="catalog.html">Ромашки для Наташки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <div class="menu__head">
                            Сладости
                            <div class="menu__plus" aria-label="Выподающий список"></div>
                        </div>
                        <ul class="menu__holder">
                            <li class="menu__items">
                                <a class="menu__link" href="#">Шоколадные буквы</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="#">Рафаэлло</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="#">Торт Рафаэлло</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="#">NUTELLA</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="#">Конфеты MERCI</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a class="menu__head" href="#">Воздушные шарики</a>
                    </li>    
                    <li class="menu__item">
                        <a class="menu__head" href="#">Подарки</a>
                    </li>    
                    <li class="menu__item">
                        <a class="menu__head" href="#">Услуги</a>
                    </li>    
                    <li class="menu__item">
                        <a class="menu__head" href="#">Аксессуары</a>
                    </li>    
                    <li class="menu__item">
                        <div class="menu__head">
                            Фруктовые корзины
                            <div class="menu__plus" aria-label="Выподающий список"></div>
                        </div>
                        <ul class="menu__holder">
                            <li class="menu__items">
                                <a class="menu__link" href="catalog.html">Ромашки для Наташки</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="catalog.html">Ромашки для Наташки</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="catalog.html">Ромашки для Наташки</a>
                            </li>
                            <li class="menu__items">
                                <a class="menu__link" href="catalog.html">Ромашки для Наташки</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="header__btn" type="button" aria-label="Выезжающее меню сайта">
                <span class="header__btn-item"></span>
                <span class="header__btn-item"></span>
                <span class="header__btn-item"></span>
            </button>
            <a class="logo" href="index.html">
                <img class="logo__images" src="./images/logo.png" alt="Логотип">
            </a>
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="#">
                        <svg class="header__icon header__search" aria-label="Поиск информации по сайту">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link header__link-corb" href="basket.html">
                        <svg class="header__icon header__corb" aria-label="Переход в корзину с товарами">
                            <use xlink:href="images/sprite.svg#corb"></use>
                        </svg>
                        <span class="header__number">0</span>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="identity.html">
                        <svg class="header__icon header__user" aria-label="Личный кабинет">
                            <use xlink:href="images/sprite.svg#user"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="registration.html">
                        <svg class="header__icon header__login" aria-label="Регистрация">
                            <use xlink:href="images/sprite.svg#login"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>