<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <p class="header__text">
                    Скидка 10% по промокоду “ZAMOK” на все заказы до 10.09
                </p>
                <a class="header__link" href="#">Обратный звонок</a>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                <a class="logo" href="#">
                    <img class="logo__images" src="images/logo.svg" alt="Логотип">
                </a>
        
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="index.html">Главная</a>
                        </li>
        
                        <li class="menu__item menu__item--catalog">
                            <a class="menu__link" href="catalog.html">
                                <div class="menu__head">
                                    Каталог
                                    <svg class="menu__icon" aria-label="Выподащий список">
                                        <use xlink:href="images/sprite.svg#arrow-down"></use>
                                    </svg>
                                </div>
                            </a>    
                            <div class="menu__holder">
                                <ul class="menu__dropdown">
                                    <li class="menu__dropdown-item">
                                        <a class="menu__dropdown-link" data="images/doorlock-1.jpg" href="#">
                                            Накладные электронные замки
                                        </a>
                                    </li>
                                    <li class="menu__dropdown-item">
                                        <a class="menu__dropdown-link" data="images/doorlock-2.jpg" href="#">
                                            Врезные электронные замки
                                        </a>
                                    </li>
                                    <li class="menu__dropdown-item">
                                        <a class="menu__dropdown-link" data="images/doorlock-3.jpg" href="#">
                                            Замки для квартиры
                                        </a>
                                    </li>
                                    <li class="menu__dropdown-item">
                                        <a class="menu__dropdown-link" data="images/doorlock-4.jpg" href="#">
                                            Замки для дома
                                        </a>
                                    </li>
                                    <li class="menu__dropdown-item">
                                        <a class="menu__dropdown-link" data="images/doorlock-5.jpg" href="#">
                                            Замки для отелей
                                        </a>
                                    </li>
                                    <li class="menu__dropdown-item">
                                        <a class="menu__dropdown-link" data="images/doorlock-6.jpg" href="#">
                                            Замки для офиса
                                        </a>
                                    </li>
                                    <li class="menu__dropdown-item">
                                        <a class="menu__dropdown-link" data="images/doorlock-7.jpg" href="#">
                                            Замки для шкафчиков
                                        </a>
                                    </li>
                                    <li class="menu__dropdown-item">
                                        <a class="menu__dropdown-link" data="images/doorlock-8.jpg" href="#">
                                            Замки для раздевалок
                                        </a>
                                    </li>
                                </ul>
                                <div class="menu__images">
                                    <img class="menu__photo" src="images/doorlock-1.jpg" alt="Замок">
                                </div>
                            </div>
                        </li>
        
                        <li class="menu__item">
                            <a class="menu__link" href="wholesale.html">Оптовая продажа</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="about.html">О нас</a>
                        </li>
                    </ul>
                </nav>
        
                <a class="header__tel" href="tel:+79665588499">
                    <svg class="header__tel-icon" aria-label="Номер телефона для связи">
                        <use xlink:href="images/sprite.svg#tel"></use>
                    </svg>
                    <p class="header__tel-text">+7 (966) 55 88 499</p>
                </a>
                <a class="header__heart" href="#">
                    <svg class="header__icon header__heart-icon" aria-label="Просмотр понравившихся товаров">
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                    <div class="header__heart-number">0</div>
                </a>
                <a class="header__corb" href="#">
                    <svg class="header__icon header__corb-icon" aria-label="Просмотр товаров в корзине">
                        <use xlink:href="images/sprite.svg#corb"></use>
                    </svg>
                    <div class="header__corb-number">0</div>
                </a>    
                <button class="header__burger" type="button">
                    <span class="header__burger-item"></span>
                    <span class="header__burger-item"></span>
                    <span class="header__burger-item"></span>
                </button>
            </div>
        </div>
    </div>



    
    <div class="modal-corb">
        <div class="modal-corb__head">
            <span class="modal-corb__name">Корзина</span>
            <button class="modal-corb__btn modal-corb__exit" type="button">
                <svg class="modal-corb__icon-exit" aria-label="закрыть корзину">
                    <use xlink:href="images/sprite.svg#exit"></use>
                </svg>
            </button>
        </div>
        <div class="modal-corb__inner">
            <div class="modal-corb__block">
                <div class="modal-corb__images">
                    <img class="modal-corb__photo" src="images/small-img.jpg" alt="замок">
                </div>
                <div class="modal-corb__info">
                    <div class="modal-corb__line">
                        <h3 class="modal-corb__title">Дверной Замок Golden Soft для офиса</h3>
                        <button class="modal-corb__btn modal-corb__delete" type="button">
                            <svg class="modal-corb__icon-delete" aria-label="удалить товар из корзины">
                                <use xlink:href="images/sprite.svg#delete"></use>
                            </svg>
                            <span>Удалить</span>
                        </button>
                    </div>
                    <div class="modal-corb__line">
                        <div class="modal-corb__counter counter">
                            <div class="counter__minus">-</div>
                            <div class="counter__number">1</div>
                            <div class="counter__plus">+</div>
                        </div>
                        <div class="modal-corb__price">
                            <div class="modal-corb__price-number">33000</div>
                            <span>&#8381;</span>
                        </div>
                    </div>    
                </div>
            </div>

            <div class="modal-corb__result">
                <div class="modal-corb__sum">Итого:</div>
                <div class="modal-corb__sum-price">
                    <div class="modal-corb__sum-number">33000</div>
                    <span>&#8381;</span>
                </div>
            </div>

            <a class="link modal-corb__link" href="#">Оформить заказ</a>
        </div>
    </div>
</header>

