<a class="product-card" href="#">
    <div class="product-card__photo">
        <img class="product-card__images" src="images/product-card-4.jpg" alt="замок">
    </div>
    <div class="product-card__info">
        <span class="product-card__name">Дверной Замок Golden Soft для офиса</span>
        <div class="product-card__price price">
            <div class="price__actual">9 000&#8381;</div>
            <div class="price__old">12 000&#8381;</div>
        </div>
    </div>
    <div class="product-card__hidden">
        <div class="product-card__inner">
            <span class="product-card__stock product-card__stock--check">В наличии</span>
            <span class="product-card__sale">Sale</span>
        </div>
        <div class="product-card__inner">
            <span class="product-card__present">Подарок</span>
        </div>    
    </div>
</a>