<section class="products">
    <div class="container">
        <div class="products__heading">
            <h2 class="title products__title">Наши популярные продукты</h2>
            <div class="products__arrows">
                <button class="products__btn products__prev" type="button">
                    <svg class="products__arrow" aria-label="Номер телефона для связи">
                        <use xlink:href="images/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
                <button class="products__btn products__next" type="button">
                    <svg class="products__arrow" aria-label="Номер телефона для связи">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <ul class="products__list">
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-1.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для отеля</span>
                        <div class="product-card__price price">
                            <div class="price__actual">33 000&#8381;</div>
                            <div class="price__old">37 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-2.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Вариативный замок Golden Soft для отеля</span>
                        <div class="product-card__price price">
                            <div class="price__actual">7 000&#8381;</div>
                            <div class="price__old">8 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--exit">Нет в наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-3.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для офиса</span>
                        <div class="product-card__price price">
                            <div class="price__actual">33 000&#8381;</div>
                            <div class="price__old">30 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-4.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для офиса</span>
                        <div class="product-card__price price">
                            <div class="price__actual">9 000&#8381;</div>
                            <div class="price__old">12 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>

            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-1.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для отеля</span>
                        <div class="product-card__price price">
                            <div class="price__actual">33 000&#8381;</div>
                            <div class="price__old">37 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-2.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Вариативный замок Golden Soft для отеля</span>
                        <div class="product-card__price price">
                            <div class="price__actual">7 000&#8381;</div>
                            <div class="price__old">8 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--exit">Нет в наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-3.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для офиса</span>
                        <div class="product-card__price price">
                            <div class="price__actual">33 000&#8381;</div>
                            <div class="price__old">30 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-4.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для офиса</span>
                        <div class="product-card__price price">
                            <div class="price__actual">9 000&#8381;</div>
                            <div class="price__old">12 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>

            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-1.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для отеля</span>
                        <div class="product-card__price price">
                            <div class="price__actual">33 000&#8381;</div>
                            <div class="price__old">37 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-2.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Вариативный замок Golden Soft для отеля</span>
                        <div class="product-card__price price">
                            <div class="price__actual">7 000&#8381;</div>
                            <div class="price__old">8 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--exit">Нет в наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-3.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для офиса</span>
                        <div class="product-card__price price">
                            <div class="price__actual">33 000&#8381;</div>
                            <div class="price__old">30 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
            <li class="products__item">
                <a class="product-card" href="#">
                    <div class="product-card__photo">
                        <img class="product-card__images" src="images/product-card-4.jpg" alt="замок">
                    </div>
                    <div class="product-card__info">
                        <span class="product-card__name">Дверной Замок Golden Soft для офиса</span>
                        <div class="product-card__price price">
                            <div class="price__actual">9 000&#8381;</div>
                            <div class="price__old">12 000&#8381;</div>
                        </div>
                    </div>
                    <div class="product-card__hidden">
                        <div class="product-card__inner">
                            <span class="product-card__stock product-card__stock--check">В наличии</span>
                            <span class="product-card__sale">Sale</span>
                        </div>
                        <div class="product-card__inner">
                            <span class="product-card__present">Подарок</span>
                        </div>    
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

