<section class="statistics">
    <div class="container">
        <ul class="statistics__list">
            <li class="statistics__item">
                <span class="statistics__number">5,567</span>
                <span class="statistics__description">Счастливых клиентов</span>
            </li>
            <li class="statistics__item">
                <span class="statistics__number">1245</span>
                <span class="statistics__description">Продуктов на выбор</span>
            </li>
            <li class="statistics__item">
                <span class="statistics__number">372</span>
                <span class="statistics__description">Продаж в день</span>
            </li>
            <li class="statistics__item">
                <span class="statistics__number">454</span>
                <span class="statistics__description">Лет на рынке</span>
            </li>
        </ul>
    </div>
</section>