.registry {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 30px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: start;
        @include max($lg) {
            margin-bottom: 15px;
        }
        @include max($lg) {
            font-size: 24px;
        }
        @include max($sm) {
            font-size: 20px;
            text-align: left;
        }
    }
    &__number {
        font-weight: 300;
        font-size: 18px;
        margin-left: 12px;
    }
    &__wrapper {
        display: flex;
        @include max($lg) {
            display: block;
        }
    }
    &__inner {
        max-width: 925px;
        width: 100%;
        @include max($lg) {
            max-width: 100%;
        }
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        height: 40px;
        @include max($lg) {
            margin-bottom: 20px;
        }
        @include max($sm) {
            flex-wrap: wrap;
        }
    }
    &__feature {
        display: flex;
        align-items: center;
        @include max($sm) {
            max-width: 100%;
            margin-bottom: 5px;
        }
    }
    &__description {
        display: block;
        margin-right: 5px;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }
    &__icon-exit {
        fill: none;
        width: 10px;
        height: 10px;
        stroke-width: 2px;
        stroke: #E44286;
        cursor: pointer;
        transition: stroke 0.3s ease-in;
        &:hover {
            stroke: #d68eac;
        }
    }
    &__select {
        max-width: 250px;
        width: 100%;
        position: relative;
        height: 100%;
        @include max($md) {
            max-width: 210px;
        }
        @include max($sm) {
            max-width: 100%;
        }
    }
    &__btn {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        outline: transparent;
        background-color: #fff;
        font-size: 16px;
        padding: 7px 10px;
        border: 1px solid #C4CDD5;
        transition: border-color 0.3s ease-in, color 0.3s ease-in;
        z-index: 10;
        &:hover {
            border-color: $light-blue;
            color: $light-blue;
        }
        &:hover .registry__icon{
            stroke: $light-blue;
        }
        &:focus .registry__icon{
            stroke: $main;
        }
        &:focus {
            border-color: $main;
            color: $main;
        }
        &:active {
            border-color: $grey;
            color: $grey;
        }
        &:active .registry__icon {
            stroke: $grey;
        }
    }
    &__icon {
        width: 15px;
        height: 13px;
        fill: none;
        stroke-width: 2px;
        stroke:#000;
        transition: stroke 0.3s ease-in;
        transition: transform .3s ease-in;
        &--active {
            transform: rotate(180deg);
        }
    }
    &__options {
        width: 100%;
        position: absolute;
        top: 40px;
        background-color: #f7f7f7;
        z-index: 9;
        border: 1px solid #C4CDD5;
        transition: transform 0.5s ease-in, scale 0.5s ease-in;
        transform: translateY(-10%) scaleY(0);
        transform-origin: top;
        &--active {
            transform: translateY(0) scaleY(1);
        }
    }
    &__option {
        padding: 7px 10px;
        font-size: 16px;
        cursor: pointer;
        transition: color 0.3s ease-in;
        @include lineClamp;
        -webkit-line-clamp: 1;
        &:hover {
            color: $main;
        }
        &:active {
            color: $grey;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 30px;
        margin-bottom: 30px;
        @include max($xl) {
            grid-gap: 10px 10px;
        }
        @include max($lg) {
            grid-template-columns: repeat(2, 1fr);
            max-width: 574px;
            margin: 0 auto 20px;
        }
        @include max($lg) {
            grid-template-columns: repeat(1, 1fr);
            max-width: 288px;
        }
        @include max($sm) {
            padding-top: 20px;
        }
    }
    @include max($xl) {
        margin-bottom: 40px;
    }
}