.particular-tabs {
    &__list {
        display: flex;
        margin-bottom: 50px;
        @include max($xl) {
            margin-bottom: 25px;
        }
        @include max($s) {
            margin-bottom: 14px;
            flex-direction: column;
            align-items: center;
        }
    }
    &__items {
        &:not(:last-child) {
            margin-right: 60px;
            @include max($sm) {
                margin-right: 16px;
            }
            @include max($s) {
                margin-right: 0;
                margin-bottom: 7px;
            }
        }
    }
    &__btn {
        padding: 0;
        background-color: transparent;
        border: none;
        outline: transparent;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        padding-bottom: 5px;
        transition: color 0.3s ease-in;
        &:hover {
            color: $main;
        }
        &:focus {
            color: #ccc;
        }
        &--active {
            border-bottom: 2px solid $main;
        }
        @include max($sm) {
            font-size: 18px;
        }
        @include max($s) {
            padding-bottom: 3px;
        }
    }
    
    &__characteristic {
        display: flex;
        justify-content: space-between;
        @include max($xl) {
            flex-direction: column;
        }
    }
    &__holder {
        max-width: 49%;
        width: 100%;
        @include max($xl) {
            max-width: 100%;
        }
    }
    &__item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 16px 0;
        &:nth-child(odd) {
            background-color: #fafafa;
        }
        @include max($xl) {
            padding: 10px 0;
        }
        @include max($sm) {
            padding: 7px 0;
        }
        @include max($s) {
            display: block;
        }
    }
    &__name,
    &__description {
        display: block;
        max-width: 50%;
        width: 100%;
        padding: 0 12px;
        @include lineClamp;
        -webkit-line-clamp: 4;
        @include max($s) {
            max-width: 100%;
        }
    }
    &__description {
        color: $grey;
    }
    &__name {
        font-weight: 500;
        font-size: 16px;
    }

    &__info {
        display: flex;
        align-items: center;
        @include max($md) {
            flex-direction: column;
        }
    }
    &__inner {
        max-width: 715px;
        width: 100%;
        margin-right: 10px;
        @include max($md) {
            margin-right: 0;
            max-width: 100%;
        }
    }
    &__text {
        font-size: 16px;
        color: $grey;
        p {
            @include lineClamp;
            -webkit-line-clamp: 12;
        }
        &:first-child {
            margin-bottom: 25px;
            @include max($lg) {
                margin-bottom: 10px;
            }
        }
    }
    &__heading {
        font-weight: 700;
        display: block;
        margin-bottom: 15px;
        font-size: 20px;
    }
    &__advantage {
        margin-bottom: 25px;
        @include max($md) {
            margin-bottom: 11px;
        }
    }
    &__advantage-item {
        font-size: 16px;
        color: $grey;
        position: relative;
        padding-left: 25px;
        @include lineClamp;
        -webkit-line-clamp: 4;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        &::after {
            position: absolute;
            left: 0;
            content: '';
            top: 6px;
            background-color: $main;
            width: 10px;
            border-radius: 50%;
            height: 10px;
        }
    }
    &__images {
        max-width: 499px;
        width: 100%;
        height: 650px;
        @include bg;
        @include max($lg) {
            max-width: 310px;
            height: 425px;
        }
        @include max($sm) {
            max-width: 225px;
            height: 290px;
        }
    }
    &__content {
        display: none;
    }
    &__content--active {
        display: flex;
    }
}